This document contains all the necessary modules and packages to run this program

!git clone https://github.com/sartorius-research/LIVECell.git
%cd LIVECell

!pip install pycocotools
!pip install torch torchvision pycocotools opencv-python tqdm

import os
import cv2
import numpy as np
from pycocotools.coco import COCO
from tqdm import tqdm
import random
import shutil
import urllib.request
import zipfile
from time import time
from matplotlib import pyplot as plt
import torch
import torchvision.models as models
import torch.nn as nn
from torchvision import datasets, transforms
from torch.utils.data import DataLoader
from torch.utils.data import Subset
from torch.optim import SGD
