This document contains all the necessary modules and packages to run this program
import os
import cv2
import numpy as np
from pycocotools.coco import COCO
from tqdm import tqdm
import random
import shutil
import os
import urllib.request
import zipfile
from torch.optim import SGD
from time import time
import numpy as np
from matplotlib import pyplot as plt
